#set($title = $titleval.Data)
#set($description = $descval.Data)

<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

<style type="text/css">
    #home-quote {
        text-align: center;
        background: #F9F9F9;
        color: #666;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        padding: 20px;
        margin-bottom: 15px;
    }

    #home-quote h2 {
        margin-top: 0px;
        color: #000;
        font-family: 'Droid Sans', serif;
        font-size: 21px;
        line-height: 1.5em;
        font-weight: normal;
        text-transform: capitalize;
        letter-spacing: 1px;
    }

    #home-quote p{
        font-family: 'Droid Sans', serif;
        font-size: 16px;
        color: #666;
        margin-top: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
    }
</style>


<div id="home-quote"> <div class="region region-homequotes">
    <div id="block-block-8" class="block block-block">
        <h2>$title</h2>

        <div class="content">
            <p>$description</p>
        </div>
    </div> 
</div></div>